header
	.container
		nav
			.logo
				a(href="")
					img(src="./assets/logo.png", alt="")
			.nav-mobile
			.toggle-menu
			.main-nav
				ul.nav-list
					li.nav-item.active
						a.nav-link(href="index.html")
							em.ri-home-3-line
					li.nav-item
						a.nav-link(href="gioi-thieu.html") Giới thiệu
					li.nav-item
						a.nav-link(href="chuyen-khoa.html") Chuyên khoa
					li.nav-item
						a.nav-link(href="tin-tuc.html") Tin tức
					li.nav-item
						a.nav-link(href="hoat-dong.html") Hoạt động
					li.nav-item
						a.nav-link(href="trung-tam.html") Trung tâm
					li.nav-item
						a.nav-link(href="doi-ngu-bac-si.htmml") Đội ngũ bác sĩ
					li.nav-item
						a.nav-link(href="lien-he.html") Liên hệ
				.icon
					#desktop
						.hotline
							em.ri-phone-line
							ul
								li
									p Hotline cấp cứu
								li
									p 0977.010.200
						a.search.btn.btn__search(data-fancybox data-animation-duration="700" data-src="#searchfancybox" href="javascript:;")
							em.ri-search-2-line
						.language.dropdown
							button#dropdownMenuButton.dropdown-toggle(type='button', data-toggle='dropdown')
								a(href="") VN
							.dropdown-menu
								a.dropdown-item(href='#') EN
								a.dropdown-item(href="") VN
