section.section-child.lab-video
	.container
		.block-title
			h2 Thư viện
		.lab-nav
			ul
				li
					a(href="hinh-anh.html") Hình ảnh
				li
					a(href="video.html") Video
		.row
			.col-xl-6
				a(href="")
					figure
						.img
							img(src="./assets/images/lab/v-1.png", alt="")
						figcaption
							.desc
								em.material-icons play_circle_outline
								p Video 1
			.col-xl-6
				.row
					.col-xl-6
						a(href="")
							figure
								.img
									img(src="./assets/images/lab/v-2.png", alt="")
								figcaption
									.desc
										em.material-icons play_circle_outline
										p Video 1
					.col-xl-6
						a(href="")
							figure
								.img
									img(src="./assets/images/lab/v-3.png", alt="")
								figcaption
									.desc
										em.material-icons play_circle_outline
										p Video 1
					.col-xl-6
						a(href="")
							figure
								.img
									img(src="./assets/images/lab/v-4.png", alt="")
								figcaption
									.desc
										em.material-icons play_circle_outline
										p Video 1
					.col-xl-6
						a(href="")
							figure
								.img
									img(src="./assets/images/lab/v-5.png", alt="")
								figcaption
									.desc
										em.material-icons play_circle_outline
										p Video 1
			.col-xl-6
				.row
					.col-xl-6
						a(href="")
							figure
								.img
									img(src="./assets/images/lab/v-6.png", alt="")
								figcaption
									.desc
										em.material-icons play_circle_outline
										p Video 1
					.col-xl-6
						a(href="")
							figure
								.img
									img(src="./assets/images/lab/v-7.png", alt="")
								figcaption
									.desc
										em.material-icons play_circle_outline
										p Video 1
					.col-xl-6
						a(href="")
							figure
								.img
									img(src="./assets/images/lab/v-8.png", alt="")
								figcaption
									.desc
										em.material-icons play_circle_outline
										p Video 1
					.col-xl-6
						a(href="")
							figure
								.img
									img(src="./assets/images/lab/v-9.png", alt="")
								figcaption
									.desc
										em.material-icons play_circle_outline
										p Video 1
			.col-xl-6
				a(href="")
					figure
						.img
							img(src="./assets/images/lab/v-10.png", alt="")
						figcaption
							.desc
								em.material-icons play_circle_outline
								p Video 1
