section.section-child.a-1
	.container
		.row
			.col-xl-3
				#sidebar-wrapper
					.tool-ctrl
						em.material-icons api
					ul#sideBar
						li.active
							a(href="") Về chúng tôi
						li
							a(href="") Lịch sử hình thành
						li
							a(href="") Đội ngũ nhân sự
						li
							a(href="") Tôn chỉ hoạt động
						li
							a(href="") Hệ thống giao dịch
						li
							a(href="") Đối tác - khách hàng
			.col-xl-9
				.a-1__content
					.block-title
						h2 Về chúng tôi
					.row
						.col-xl-6.col-md-6
							.left
								.desc
									p
										strong Là doanh nghiệp hoạt động trong lĩnh vực BĐS Eximrs cam kết cung cấp các giải pháp toàn diện cho quý khách hàng, quý đối tác bằng chuỗi dịch vụ chuyên nghiệp của mình.
									p Bên cạnh đó Eximrs luôn trân trọng giá trị nền tảng cho sự phát triển, đó là các cơ hội được hợp tác và chia sẻ với Quý khách hàng, Quý đối tác.
									p Với chuyên gia hàng đầu trong lĩnh vực BĐS bên cạnh tập thể nhân viên đoàn kết, cùng với sự ủng hộ của Quý khách hàng, Quý đối tác. Chúng tôi tin tưởng rằng Eximrs chắc chắn sẽ gặt hái được nhiều thành công hơn trên thị trường BĐS của khách hàng
						.col-xl-6.col-md-6
							.img
								img(src="./assets/images/about/a-1.png", alt="")