section.section-child.a-3
	.container
		.row
			.col-xl-3
			.col-xl-9
				.block-title
					h2 Đội ngũ nhân sự
				.row
					.col-xl-4.col-md-5.col-sm-6
						.left
							ul
								li
									h3 Phòng kinh doanh công ty
									h4.counter(data-count="100") 0
										sup +
									p Nhân viên kinh doanh
								li
									h3 3 sàn trực thuộc công ty
									h4.counter(data-count="100") 0
										sup +
									p Nhân viên kinh doanh
								li
									h3 Đội ngũ cộng tác viên
									h4.counter(data-count="100") 0
										sup +
									p Cộng tác viên
					.col-xl-8.col-md-7.col-sm-6
						.right
							.img
								img(src="./assets/images/about/a-5.png", alt="")