section.section-child.a-4
	.container
		.row
			.col-xl-3
			.col-xl-9
				.block-title
					h2 Hệ thống giao dịch
				.row
					.col-xl-6.col-md-6
						.left
							figure
								.img
									img(src="./assets/images/about/a-7.png", alt="")
								figcaption
									.desc
										h3 Tầm nhìn
										p Đến năm 2020 trở thành:
										p Nhà kinh doanh chuỗi cung cứng dịch vụ BĐS uy tín, chuyên nghiệp, có tên tuổi, có thể sánh vai với các tổ chức dịch vụ BĐS nước ngoài như CBRE, Savills,...
							figure
								.img
									img(src="./assets/images/about/a-8.png", alt="")
								figcaption
									.desc
										h3 Sứ mệnh
										p Đến năm 2020 trở thành:
										p Nhà kinh doanh chuỗi cung cứng dịch vụ BĐS uy tín, chuyên nghiệp, có tên tuổi, có thể sánh vai với các tổ chức dịch vụ BĐS nước ngoài như CBRE, Savills,...
					.col-xl-6.col-md-6
						.right
							figure
								.img
									img(src="./assets/images/about/a-9.png", alt="")
								figcaption
									.desc
										h3 Giá trị cốt lõi
										p Đến năm 2020 trở thành:
										p Nhà kinh doanh chuỗi cung cứng dịch vụ BĐS uy tín, chuyên nghiệp, có tên tuổi, có thể sánh vai với các tổ chức dịch vụ BĐS nước ngoài như CBRE, Savills,...