section.section-child.a-6
	.container
		.row
			.col-xl-3
			.col-xl-9
				.block-title
					h2 Đối tác - Khách hàng
				.content
					.row.no-gutters
						.col
							.item
								a(href="")
									img(src="./assets/images/index/par-1.png", alt="")
						.col
							.item
								a(href="")
									img(src="./assets/images/index/par-2.png", alt="")
						.col
							.item
								a(href="")
									img(src="./assets/images/index/par-3.png", alt="")
						.col
							.item
								a(href="")
									img(src="./assets/images/index/par-4.png", alt="")
						.col
							.item
								a(href="")
									img(src="./assets/images/index/par-5.png", alt="")
						.col
							.item
								a(href="")
									img(src="./assets/images/index/par-6.png", alt="")
						.col
							.item
								a(href="")
									img(src="./assets/images/index/par-7.png", alt="")
						.col
							.item
								a(href="")
									img(src="./assets/images/index/par-8.png", alt="")

