section.section-child.pro-detail
	.container
		.row
			.col-xl-3
				#sidebar-wrapper
					ul
						li.active
							a(href="") Về chúng tôi
						li
							a(href="") Lịch sử hình thành
						li
							a(href="") Đội ngũ nhân sự
						li
							a(href="") Tôn chỉ hoạt động
						li
							a(href="") Hệ thống giao dịch
						li
							a(href="") Đối tác - khách hàng
			.col-xl-9
				.content
					h2 Tổng quan
					.desc
						p Những khu đô thị hiện đại và phát triển bật nhất trên thế giới luôn được phát triển dựa trên những nền tảng về quy hoạch, hạ tầng, kinh tế và dân cư, với tầm nhìn rộng mở và luôn hướng về tương lai. Nắm bắt xu hướng này, Căn Hộ Saigon Homes được xem là dự án vô cùng hấp dẫn, dự án là khu phức hợp căn hộ và khu dân cư nhà phố hiện đại nằm ngay trung tâm Khu vực phía Tây Sài Gòn, liền kề với các Quận Tân Phú, Tân Bình, Quận 6, Quận 11 nơi được coi là cái nôi của hoạt động sản xuất, kinh doanh, mua bán của cả Tp. Hồ Chí Minh, hứa hẹn sẽ là dự án vô cùng tiềm năng và sáng giá cũng như mở ra cơ hội đầu tư sinh lợi hấp dẫn trong tương lai đến quý khách hàng
					.slide
						.swiper-container.gallery-top
							.swiper-wrapper
								-for(i=1; i<6; i++)
									.swiper-slide
										.img
											img(src="./assets/images/pro/pro-d-"+i+".png" alt="")
						.swiper-container-thumbs.gallery-thumbs
							.swiper-wrapper
								-for(i=1; i<6; i++)
									.swiper-slide
										.img
											img(src="./assets/images/pro/pro-d-"+i+".png" alt="")
						.swiper-button-next
						.swiper-button-prev
				.tabel
					table
						tbody
							tr
								th(scope='row') 
									p Tên dự án:
								td 
									p Saigon Homes
							tr
								th(scope='row')
									p Chủ đầu tư:
								td 
									p Công ty TNHH Nhà Sài Gòn
							tr
								th(scope='row')
									p Đơn vị thiết kế:
								td
									p Cty CP Tư Vấn Xây Dựng AAT
							tr
								th(scope='row')
									p Ngân hàng bảo lãnh:
								td
									p BIDV Nam Sài Gòn
							tr
								th(scope='row')
									p Diện tích khuôn viên dự án:
								td
									p 5.935,64 m²
							tr
								th(scope='row') 
									p Mật độ xây dựng:
								td
									p 39.97%
							tr
								th(scope='row')
									p Diện tích xây dựng:
								td
									p 2.379,94 m²
							tr
								th(scope='row')
									p Diện tích đất công viên cây xanh nhóm ở:
								td
									p 1.037,36 m²
							tr
								th(scope='row')
									p Diện tích đất công viên ,sân chơi trẻ em:
								td
									p 252 m²
							tr
								th(scope='row')
									p Diện tích đất thể dục thể thao:
								td
									p 328.5 m²
							tr
								th(scope='row')
									p Diện tích đất giao thông , sân bãi ngoài trời:
								td
									p 1.955,84 m²
					a.view-more(href="") xem thêm
						em.ri-arrow-drop-down-line
section.section-child.pro-detail-2
	.container
		.row
			.col-xl-3
			.col-xl-9
				.content
					h2 Vị trí
					.desc
						p Dự án Saigon Homes sở hữu một vị thế vô cùng nổi bật, toạ lạc tại vị trí đắc địa mặt tiền đường Hương Lộ 2, Quận Bình Tân. Nơi đây được biết đến với giao thông thuận lợi & tốc độ phát triển rất nhanh trong thời gian những năm gần đây. với vị thế thuận lợi và sáng giá như thế, do vậy dự án nhận được không ít sự mong đợi từ quý khách hàng tiềm năng, từ dự án quý khách có thể dễ dàng kết nối giao thông một cách tiện lợi hơn cũng như là giải pháp hữu hiệu trong việc tiết kiệm thời gian di chuyển một cách tối ưu hóa:
					.img
						img(src="./assets/images/pro/pro-d-6.png", alt="")
section.section-child.pro-detail-3
	.container
		.row
			.col-xl-3
			.col-xl-9
				.content
					h2 Tiện ích
					.slide
						.swiper-container.slide-utilities
							.swiper-wrapper
								-for(i=7; i<10; i++)
									.swiper-slide
										figure
											img(src="./assets/images/pro/pro-d-"+i+".png" alt="")
											figcaption
												.desc
													p 2 tầng thương mại siêu thị đã ký hợp đồng với Co.op Mart
section.section-child.pro-detail-4
	.container
		.row
			.col-xl-3
			.col-xl-9
				.content
					h2 Mặt bằng
					.tab-panels
						ul.tabs
							li.active(rel='panel-1') Mặt băng tổng thể
							li(rel='panel-2') Mặt bằng tầng
						#panel-1.panel.active
							.img
								img(src="./assets/images/pro/pro-d-10.png", alt="")
						#panel-2.panel.active
							.img
								img(src="./assets/images/pro/pro-d-10.png", alt="")
section.section-child.pro-detail-5
	.container
		.row
			.col-xl-3
			.col-xl-9
				.content
					h2 Hình ảnh
					.slide
						.swiper-container.slide-images
							.swiper-wrapper
								-for(i=11; i<13; i++)
									.swiper-slide
										.img
											img(src="./assets/images/pro/pro-d-"+i+".png" alt="")
section.section-child.pro-detail-5
	.container
		.row
			.col-xl-3
			.col-xl-9
				.content
					h2 Video
					.desc
						a(href="")
							img(src="./assets/images/pro/pro-d-14.png", alt="")
							em.ri-play-circle-line
							p Toàn cảnh khuôn viên Saigon Home
section.section-child.pro-detail-6
	.container
		.row
			.col-xl-3
			.col-xl-9
				.content
					h2 Tin liên quan
					.slide
						.swiper-container.slide-utilities
							.swiper-wrapper
								-for(i=15; i<18; i++)
									.swiper-slide
										a(href="")
											figure
												img(src="./assets/images/pro/pro-d-"+i+".png" alt="")
												figcaption
													.desc
														span.time 23.06.2020
														p.title Nếu muốn chuyển mục đích sử dụng đất, làm ngay trong năm 2019 để giảm chi phí
section.section-child.pro-detail-6
	.container
		.block-title
			h2 Nhận thông tin ưu đãi chi tiết & Tham quan dự án
			h1 Saigon Homes
			h2 Nhận tài liệu dự án ngay - Hotline: 0909 109 155
		.block-form
			.form-group
				input(type='text' placeholder="Họ và tên*")
			.form-group
				input(type='text' placeholder="Số điện thoại*")
			.form-group
				input(type='text' placeholder="Email*")
			.form-group.frm-btnwrap
				.frm-btn
					input.btn.btn-default.frm-btn-submit(type='submit' name="" value='Gửi')
					em.material-icons arrow_forward
