
section.section-child.news-detail.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.block-title
			h1 Bùng nổ sự kiện ra quân dự án căn hộ COSMO City
			.time
				p 01.04.2020
			.icon-social
				ul
					li
						a(href="")
							i.ri-facebook-fill
					li
						a(href="")
							i.ri-twitter-fill
		.content
			p Được tổ chức với quy mô hoành tráng, ý tưởng độc đáo, ngày 5/6/2020, tại số 99 Nguyễn Thị Thập, Q.7 – Sảnh Sale Gallery COSMO City đã diễn ra thành công tốt đẹp buổi lễ ra quân dự án căn hộ Cosmo City.
			img(src="./assets/images/news/nd-1.png", alt="")
			span Không khí sôi động “đốt cháy” khán phòng trong sự kiện lễ ra quân dự án COSMO City
			p Đúng với kỳ vọng từ phía chủ đầu tư, sự kiện đã thu hút gần 400 chiến binh sale tham dự. Cũng trong sự kiện này, lễ ký kết hợp tác phân phối dự án COSMO City cũng đã thực hiện với 3 công ty hàng đầu trong ngành bất động sản hiện nay gồm: Thủ Thiêm Real, BK Invest và BK Land.

			p Sự kiện không chỉ đem đến cho “chiến binh sale” những thông tin hữu ích về dự án mà còn là bữa tiệc tinh thần với những tiết mục biểu diễn nghệ thuật đặc sắc. Những chính sách “thưởng nóng” đặc biệt đã được công bố, những phần game show sôi động cùng nhiều phần quà hấp dẫn được trao tặng. Đây cũng được xem là một ngày hội tri ân mà chủ đầu tư Pau Jar cũng như đơn vị phát triển dự án Bảo Khang Holdings muốn gửi đến những người đồng hành cùng COSMO City trong chặng đường sắp tới.

			p Đại diện Công ty cổ phần Đầu tư B-ảo Khang Holdings – đơn vị phân phối độc quyền các sản phẩm nhà ở của Pau Jar Group tại Việt Nam, ông Lê Tấn Trung cho biết: “Dự án căn hộ Cosmo City đang sở hữu lợi thế tuyệt đối trên thị trường bất động sản nhà ở hiện nay tại trung tâm quận 7. Có pháp lý rõ ràng với sổ hồng từng căn, bán dưới hình thức bàn giao căn hộ hoàn thiện nội thất và đầy đủ trang thiết bị, giá 45 triệu đồng/m2 (bao gồm VAT) thì đây chắc chắn sẽ là cú “hích” đầu tiên tại thị trường khu nam với kỳ vọng sẽ giải quyết toàn bộ nhu cầu cho những khách hàng an cư hoặc đầu tư”.

			img(src="./assets/images/news/nd-2.png", alt="")
			span Không khí sôi động “đốt cháy” khán phòng trong sự kiện lễ ra quân dự án COSMO City
			p 
				strong COSMO City – “Thành phố Singapore thu nhỏ” trong lòng Phú Mỹ Hưng

			p Nằm trong quần thể khu đô thị Phú Mỹ Hưng, kề bên bờ sông Rạch Cả Cấm xanh mát, với tổng kinh phí đầu tư gần 4.000 tỉ đồng, khu dân cư CityLand Riverside được quy hoạch thành 6 phân khu bao gồm phân khu biệt thự triệu đô; phân khu 365 căn hộ resort Dockland, phân khu 404 căn hộ resort COSMO I, phân khu 361 căn hộ thông minh COSMO II, phân khu tổ hợp công viên thể thao và phân khu trung tâm giáo dục quốc tế.

			p Tọa lạc ngay tại mặt tiền đường Nguyễn Thị Thập nút giao Nguyễn Văn Linh, cách khu đô thị Phú Mỹ Hưng chỉ ít phút di chuyển. Phân khu căn hộ COSMO City sở hữu những ưu thế vượt trội về vị trí, từ dự án căn hộ COSMO City dễ dàng kết nối đến các tiện ích thương mại, dịch vụ, vui chơi giải trí xứng tầm đẳng cấp ngay tại trung tâm quận 7, trụ sở của các tập đoàn đa quốc gia, các cụm khu công nghiệp,… chính vì vậy, không khó để có thể lý giải được sức hút của dự án căn hộ COSMO City đối với giới đầu tư cũng như các khách hàng có nhu cầu an cư.

			p Các tiện ích nội khu dự án căn hộ COSMO City cũng đã hình thành và đưa vào phục vụ cư dân, với hệ thống 3 tầng trung tâm thương mại – siêu thị – dịch vụ quy mô hơn 30.000 m2, trường học liên cấp quốc tế Việt Úc với cơ sở hạ tầng và chất lượng giáo dục đạt chuẩn, hồ bơi chân mây, sân chơi thiếu nhi, phòng đọc sách, sân golf 3D, phòng tập gym, hệ thống các tầng BBQ ngoài trời,… để chủ nhân các căn hộ có thể “tận hưởng cuộc sống đẳng cấp ngay từ nơi ngưỡng cửa”.
			img(src="./assets/images/news/nd-6.png", alt="")
			p Ông Chiu I Tsai – đại diện Tập đoàn Pau Jar tại Việt Nam chia sẻ: “Chúng tôi cho rằng giá trị của một căn hộ nó không nằm ở giá của căn hộ được bán ra thị trường, mà nó còn nằm ở giá trị tiện ích tăng thêm, ở sự hài lòng của khách hàng khi sở hữu nó. Vì vậy, chúng tôi luôn cố gắng kiến tạo một không gian sống thoải mái nhất, xây dựng các công trình tiện ích thiết thực nhất để có thể phục vụ chủ nhân của nó một cách nhanh chóng và tiện lợi”.

			p Được biết, COSMO City có tổng cộng 8 block căn hộ, 19 tầng, trong đó 5 block A,B,C,D,E (COSMO I) đã hoàn tất xây dựng, ra sổ hồng từng căn đang được chào bán ra thị trường dưới hình thức bàn giao căn hộ hoàn thiện nội thất và đầy đủ trang thiết bị. Đối với 3 block F,G,H (COSMO II) đang được khởi công xây dựng và dự kiến tung ra thị trường vào đầu quý 4/2020.

			p Chủ đầu tư: Tập đoàn Pau Jar
			p Phát triển dự án: Công ty cổ phần đầu tư Bảo Khang Holdings
			p Phân phối chính thức: Thủ Thiêm Real, BK Invest, BK Land
		.news-other
			.block-title
				h2 Tin tức khác
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						a(href="")
							figure
								.img
									img(src="./assets/images/news/nd-3.png", alt="")
								figcaption
									.desc
										.time
											p 23.06.2020
										.title
											p Nguồn cung mới khan hiếm, BĐS nhà ở pháp lý đầy đủ lên ngôi

