extends ./_layout/_layout.pug

block var
	- let title = 'Chi tiết dự án';
	- let bodyClass = 'project-detail-page';
	- let titlePosition = ['Chi Tiết Dự án'];
block main
	include ./_layout/_breadcrumb.pug
	include ../project/project-detail.pug
block scripts