extends ./_layout/_layout.pug

block var
	- let title = 'Giới thiệu';
	- let bodyClass = 'about-page';
	- let titlePosition = ['Giới Thiệu'];	
block main
	include ../banner/pages-banner.pug
	include ./_layout/_breadcrumb.pug
	#fake-section
		.container
			.row
				.col-xl-3.fake-sidebar
					#sidebar-wrapper(data-aos="fade-right")
						.tool-ctrl
							em.material-icons api
						ul#sideBar
							li.active
								a(href="") Về chúng tôi
							li
								a(href="") Lịch sử hình thành
							li
								a(href="") Đội ngũ nhân sự
							li
								a(href="") Tôn chỉ hoạt động
							li
								a(href="") Hệ thống giao dịch
							li
								a(href="") Đối tác - khách hàng
				.col-xl-9
	include ../about/a-1.pug
	include ../about/a-2.pug
	include ../about/a-3.pug
	include ../about/a-4.pug
	include ../about/a-5.pug
	include ../about/a-6.pug
block scripts
