section.section-child.filed
	.container
		.block-title
			h2 Lĩnh vực hoạt động
		.filed-list
			.filed-item
				.row
					.col-xl-6.col-md-6
						.img
							img(src="./assets/images/linhvuchd/f-1.png", alt="")
					.col-xl-6.col-md-6
						.desc
							h3 chuỗi dịch vụ bất động sản
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
			.filed-item
				.row
					.col-xl-6.col-md-6.left
						.img
							img(src="./assets/images/linhvuchd/f-2.png", alt="")
					.col-xl-6.col-md-6.right
						.desc
							h3 đầu tư và kinh doanh
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
			.filed-item
				.row
					.col-xl-6.col-md-6
						.img
							img(src="./assets/images/linhvuchd/f-3.png", alt="")
					.col-xl-6.col-md-6
						.desc
							h3 xây dựng
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
