<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
    <add name="Trang chủ - sản phẩm" value="1" resourcefile="" />
	<add name="Trang chủ - sản phẩm 2" value="2" resourcefile="" />
  </position>
  
  <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" />

  <templatelist xsltname="ProjectList.xslt" name="Danh sách dự án" />

  <templatedetail xsltname="CuTruBDS.xslt" name="Cư trú - bất động sản" />
</templates>