section.section.h-2
	.container
		.main-title
			h1 Về chúng tôi
		.row
			.col-xl-7.col-md-6
				.left
					.left__content
						.block-title
							h2 Giới thiệu Bất Động Sản EXIMRS
						.left__content__desc
							p Là doanh nghiệp hoạt động trong lĩnh vực BĐS Eximrs cam kết cung cấp các giải pháp toàn diện cho quý khách hàng, quý đối tác bằng chuỗi dịch vụ chuyên nghiệp của mình.

							p Bên cạnh đó Eximrs luôn trân trọng giá trị nền tảng cho sự phát triển, đó là các cơ hội được hợp tác và chia sẻ với Quý khách hàng, Quý đối tác.

							p Với chuyên gia hàng đầu trong lĩnh vực BĐS bên cạnh tập thể nhân viên đoàn kết, cùng với sự ủng hộ của Quý khách hàng, Quý đối tác. Chúng tôi tin tưởng rằng Eximrs chắc chắn sẽ gặt hái được nhiều thành công hơn trên thị trường BĐScủa khách hàng.
						a.btn.btn-detail(href="") về chúng tôi
							.icon
			.col-xl-5.col-md-6
				.right
					.right__content
						.block-title
							h2 Chia sẻ sự giàu có và hạnh phúc
						.right__content__img
							img(src="./assets/images/index/i-3.png", alt="")