section.section.h-3
	.container
		.block-title
			h2 Lĩnh vực hoạt động
		.h-3__slide
			.swiper-container.slide-filed
				.swiper-wrapper
					.swiper-slide
						.item
							figure
								.img
									img(src="./assets/images/index/f-1.png" alt="")
								figcaption
									.desc
										a(href="")
											h3 Chuỗi dịch vụ bất động sản
										a.btn-detail(href="") chi tiết
											.icon
					.swiper-slide
						.item
							figure
								.img
									img(src="./assets/images/index/f-2.png" alt="")
								figcaption
									.desc
										a(href="")
											h3 Chuỗi dịch vụ bất động sản
										a.btn-detail(href="") chi tiết
											.icon
					.swiper-slide
						.item
							figure
								.img
									img(src="./assets/images/index/f-3.png" alt="")
								figcaption
									.desc
										a(href="")
											h3 Chuỗi dịch vụ bất động sản
										a.btn-detail(href="") chi tiết
											.icon
			.swiper-button-next
			.swiper-button-prev