section.section.h-4
	.container
		.row
			.col-xl-6.col-md-6
				.left
					.block-title
						h2 Dự án EximRS
					.left__content
						.left__content__desc
							p Là đối tác uy tín của hàng loạt dự án Bất Động Sản trong và ngoài khu vực TP.HCM. Cam kết mang lại giá trị thực và hỗ trợ đẩy nhanh tiến độ.
						a.btn__detail(href="") xem thêm
							.icon
								img(src="./assets/icons/plus.png" alt="")
		