section.section.h-4
	.container
		.row
			.col-xl-6.col-md-6
				.left
					.block-title
						h2 Dự án EximRS
					.left__content
						.left__content__desc
							p Là đối tác uy tín của hàng loạt dự án Bất Động Sản trong và ngoài khu vực TP.HCM. Cam kết mang lại giá trị thực và hỗ trợ đẩy nhanh tiến độ.
						a.btn__detail(href="") xem thêm
							.icon
								img(src="./assets/icons/plus.png" alt="")
			.col-xl-6.col-md-6
				.right
					.big-img
						a(href="")
							img(src="./assets/images/index/project-1.png", alt="")
							.desc
								h3 Khu đô thị Long Hưng City
			.col-xl-4.col-md-6
				.small-img
					a(href="")
						img(src="./assets/images/index/project-2.png", alt="")
						.desc
							h3 Saigon Homes - Bình Tân
			.col-xl-4.col-md-6
				.small-img
					a(href="")
						img(src="./assets/images/index/project-3.png", alt="")
						.desc
							h3 Aurora Residences - Quận 8
			.col-xl-4.col-md-6
				.small-img
					a(href="")
						img(src="./assets/images/index/project-4.png", alt="")
						.desc
							h3 Aurora Residences - Quận 8