section.section.h-5
	.container
		.block-title
			h2 Tin tức - Sự kiện
		.row
			.col-xl-6.col-md-6.col-sm-6.item
				a(href="")
					figure
						.big-img
							img(src="./assets/images/index/news-1.png", alt="")
						figcaption
							.time
								p 23.06.2020
							.desc
								p Bùng nổ sự kiện ra quân dự án căn hộ COSMO City
			.col-xl-6.col-md-6.col-sm-6.item
				a(href="")
					figure
						.big-img
							img(src="./assets/images/index/news-2.png", alt="")
						figcaption
							.time
								p 23.06.2020
							.desc
								p FLC muốn làm 3 dự án có tổng diện tích 3.000 Ha tại Bà Rịa - Vũng Tàu
			.col-xl-4.col-md-4.col-sm-6.item
				a(href="")
					figure
						.small-img
							img(src="./assets/images/index/news-3.png", alt="")
						figcaption
							.time
								p 23.06.2020
							.desc
								p Đại hội cổ đông công ty cổ phần bất động sản Exim
			.col-xl-4.col-md-4.col-sm-6.item
				a(href="")
					figure
						.small-img
							img(src="./assets/images/index/news-4.png", alt="")
						figcaption
							.time
								p 23.06.2020
							.desc
								p Nếu muốn chuyển mục đích sử dụng đất, làm ngay trong năm 2019 để giảm chi phí
			.col-xl-4.col-md-4.col-sm-6.item
				a(href="")
					figure
						.small-img
							img(src="./assets/images/index/news-5.png", alt="")
						figcaption
							.time
								p 23.06.2020
							.desc
								p Nguồn cung mới khan hiếm, BĐS nhà ở pháp lý đầy đủ lên ngôi