section.section.h-6
	.container
		.row
			.col-xl-7.col-md-6
			.col-xl-5.col-md-6
				.h-6__content
					.title
						h1 Mọi 
							strong suy nghĩ và hành động 
							|đều hướng đến 
							strong lợi ích 
							|của 
							strong khách hàng
					.desc
						p EximRS luôn thấu hiểu nhu cầu khách hàng, mang đến tiềm năng gia tăng giá trị trong tương lai và chất lượng cuộc sống mới. Mở ra một khái niệm mới về an cư lạc nghiệp cho người Việt.
					a.btn.btn-detail(href="") xem thêm
						.icon