section.section.h-8
	.container
		.row
			.col-xl-7.col-md-6.col-sm-12
				.footer-left
					.row
						.col-xl-6.col-md-6.col-sm-6.col-12
							.footer-card
								.footer-title
									p liên hệ
								.footer-body
									ul
										li
											em.material-icons place
											p 449 Trần Hưng Đạo P, Cầu Kho, Quận 1, TPHCM
										li
											em.material-icons call
											p (028) 3838 9555
										li
											em.material-icons print
											p (028) 3920 3244
										li
											em.material-icons local_atm
											p MST: 0313151430
										li
											em.material-icons public
											p www.eximrs.com
						.col-xl-6.col-md-6.col-sm-6.col-12
							.footer-card
								.footer-title
									p dự án
								.footer-body.footer-nav
									ul
										li
											a(href="") Căn hộ
										li
											a(href="") Đất nền
										li
											a(href="") Nhà phố - Biệt thự
						.col-xl-6.col-md-6.col-sm-6.col-12
							.footer-card
								.footer-title
									p giới thiệu
								.footer-body.footer-nav
									ul
										li
											a(href="") Về chung tôi
										li
											a(href="") Lịch sử hình thành
										li
											a(href="") Đội ngũ nhân sự
										li
											a(href="") Tôn chỉ hoạt động
										li
											a(href="") Đối tác
						.col-xl-6.col-md-6.col-sm-6.col-12
							.footer-card
								.footer-title
									p liên kế nhanh
								.footer-body.footer-nav
									ul
										li
											a(href="") Giới thiệu
										li
											a(href="") Dự án
										li
											a(href="") Tin tức
										li
											a(href="") lĩnh vực hoạt động
										li
											a(href="") Tuyển dụng
										li
											a(href="") Liên hệ
			.col-xl-5.col-md-6.col-sm-12
				.footer-right
					.footer-title
						p đăng ký nhận bản tin
					.desc
						p Chúng tôi có thể giúp gì cho bạn?
					.wrap-form
						.form-group
							input(type='text' placeholder="Họ và tên*")
						.form-group
							input(type='text' placeholder="Số điện thoại*")
						.form-group
							input(type='text' placeholder="Email*")
						.form-group
							input(type='text' placeholder="Tiêu đề*")
						.form-group
							textarea(cols="30", rows="5" placeholder="Nội dung*")
						.form-group.frm-btnwrap
							.frm-btn
								input.btn.btn-default.frm-btn-submit(type='submit' name="" value='Gửi')
								em.material-icons arrow_forward
		.copyright
			.row
				.col-xl-6.col-md-6.col-sm-7
					.copy
						p Copyright 2020 EXIMRS. 
						p Tất cả các quyền được bảo hộ. 
							a(href="") Thiết kế website bởi Cánh Cam.
				.col-xl-6.col-md-6.col-sm-5
					ul.social
						li
							a(href="")
								i.fab.fa-facebook-square
						li
							a(href="")
								i.fab.fa-youtube
						li
							a(href="")
								i.fab.fa-instagram
